@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Neo";
    src: url("./assets/fonts/Neo-Sans-Std-Light.otf");
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: "Neo";
    src: url("./assets/fonts/Neo-Sans-Std-Regular.otf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Neo";
    src: url("./assets/fonts/Neo-Sans-Std-Bold.otf");
    font-weight: bold;
    font-style: normal;
}


.img-bg-welcome {
    background-color: #f1f5fa;
    background-image: url("./assets/svg/fondo.svg") ;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 3000px;
}

.img-bg-about {
    background-image: url("./assets/svg/top-1.svg") ;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
}

.img-bg-experience {
    background-image: url("./assets/svg/bot-1.svg"), url("./assets/svg/top-2.svg") ;
    background-position: top, bottom;
    background-repeat: no-repeat, no-repeat;
    background-size: 100%, 100%;
}

.img-bg-background {
    background-image: url("./assets/svg/bot-2.svg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
}

.img-bg-projects {
    background-image: url("./assets/svg/top-3.svg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
}

.img-bg-contact {
    background-image: url("./assets/svg/top-4.svg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
}

.img-bg-contact-card {
    background-image: url("./assets/svg/contactOne.svg"), url("./assets/svg/contactTwo.svg"), url("./assets/svg/contactThree.svg"), url("./assets/svg/contactFour.svg"), url("./assets/svg/contactFive.svg");
    background-repeat: no-repeat;
    background-position: -6% 115%,-10px -20px,111.5% 120%,96% -10%,100% 0%;
}